/*!
*
* Command line window component styles
*
*/

$cmd_bg : #070C1C;

.cmd_env{
    max-width: 1000px;
    min-height: 500px;
    background-color: $cmd_bg;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    display: block;

    // command input
    .command-input-container{
        width: 100%;

        &:not(:last-child){
            display: none;
        }
        
        // input
        input{
            width: 90%;
            min-height: 20px;
            background-color: $cmd_bg;
            color: white;
            outline: none;
            border: none;
        }
        
    }
}

