/*!
*
* Command line window component styles
*
*/

$cmd_bg : #070C1C;

.cmd_env{
    max-width: 1000px;
    min-height: 500px;
    background-color: $cmd_bg;
    color: white;
    border-radius: 5px;
    padding: 15px 15px;
    display: block;

    .info{
        color: rgba(white , .6);
        font-style: italic;

        p{
            margin-bottom: 0;
        }
    }

    // command input
    .command-input-container{
        width: 100%;
        display: flex;
        align-items: center;

        &:not(:last-child){
            display: none;
        }
        
        // input
        input{
            width: 98%;
            height: auto;
            background-color: $cmd_bg;
            color: white;
            outline: none;
            border: none;
        }
        
    }


    // command output
    .command-output-container{
        display: flex;
        align-items: start;
    }

    
}

